.modal {
  position: absolute;
  z-index: var(--modalZIndex);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  height: 85vh;
  width: 85%;
  border-radius: 15px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 2rem;
  padding-left: 3rem;
}

.header {
  font-size: 15rem;
  color: rgb(255, 255, 255, 0.05);
  width: 100%;
  text-align: end;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.headerContainer {
  width: 100%;
}

.title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.description {
  color: white;
  font-weight: 400;
  font-family: "Poppins";
}

.exit {
}

.svgContainer {
  height: 24px;
  width: 24px;
  z-index: 15;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.cardContainer {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  flex-wrap: wrap;
  height: 100%;
}

.contactCard {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
  flex-wrap: wrap;
  font-family: 'poppins';
  font-weight: 700;
  max-width: 50rem;
  width: 14rem;
}

.contactCard:first-of-type {
  background: #a4fbf4;
}
.contactCard:nth-of-type(2) {
  background-color: #ccaefa;
}
.contactCard:nth-of-type(3) {
  background-color: #82a9fc;
}

.emailCircle {
  background: hsl(175, 100%, 55%);
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 0.75rem;
}
.twitterCircle {
  background-color: #ac75ff;
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 0.75rem;
}
.githubCircle {
  background: hsl(221, 98%, 64%);
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 0.75rem;
}

.topContainer {
  max-width: 1000px;
}
.middleContainer {
  max-width: 1000px;
}
.bottomContainer {
  max-width: 1000px;
}

@media(max-width: 500px) {
  .modal {
    justify-content: flex-start;
    padding-left: 1.5rem;
  }
}